__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.env
venv
.venv
.env
build
dist
*.log
**/tmp
**/temp
**/log_files
**/screen_shots
**/opt
**/output
**/gherkin_files
**/cache
**/.DS_Store
**/*.feature
**/*.xml

**/test-results

**/input
**/proofs

**/agents_llm_config.json

**/installation_id.txt