__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.env
venv
.venv
.env
build
dist
*.log
**/tmp
**/temp
**/log_files
**/screen_shots
**/opt
**/output
**/gherkin_files
**/cache
**/.DS_Store
**/*.feature
**/*.xml

**/test-results

**/input
**/proofs

**/agents_llm_config.json

**/installation_id.txt




# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
test_output.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.github/
opt
**/run_data
**/statics
.mypy_cache
.git
**/bugreport*
**/node_modules
**/*.db